POSTGRES_URL="postgres://postgres.fqtvkefkrtcwqiickapy:a1xfUyTyLoyhdSX8@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.fqtvkefkrtcwqiickapy.supabase.co"
SUPABASE_JWT_SECRET="IYKX+j/UNDu8CLyDBRlToS6OmrYuI3+bDwT4VIvi2ekRpcMUAQSSXk7aXhQTHePgxKYvxTdJt/ITMVN8waTr0w=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxdHZrZWZrcnRjd3FpaWNrYXB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzMzgzNjEsImV4cCI6MjA3NzkxNDM2MX0.Ji5wJ-6Pt9oFZfXoK-ptN8Ox_N54TnnR6INe7H4ysis"
POSTGRES_PRISMA_URL="postgres://postgres.fqtvkefkrtcwqiickapy:a1xfUyTyLoyhdSX8@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="a1xfUyTyLoyhdSX8"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://fqtvkefkrtcwqiickapy.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxdHZrZWZrcnRjd3FpaWNrYXB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzMzgzNjEsImV4cCI6MjA3NzkxNDM2MX0.Ji5wJ-6Pt9oFZfXoK-ptN8Ox_N54TnnR6INe7H4ysis"
NEXT_PUBLIC_SUPABASE_URL="https://fqtvkefkrtcwqiickapy.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxdHZrZWZrcnRjd3FpaWNrYXB5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjMzODM2MSwiZXhwIjoyMDc3OTE0MzYxfQ.Oh4xQuUOtSIub_OVbPTDKFudPAmjQmlShwTJC3NHpIs"
POSTGRES_URL_NON_POOLING="postgres://postgres.fqtvkefkrtcwqiickapy:a1xfUyTyLoyhdSX8@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require"